@media only screen and (max-width: 800px){
    #list{
        position: fixed;
        bottom: 0;
        border-radius: 50px 50px 0 0;
        transition: 1s;
    }
    #list ul li {
        width: 100px;
        background: #ffffff3f;
        backdrop-filter: blur(5px);
        box-shadow: 0 10px 25px #fff;
    }
    #list ul li::before {
        transition: 1s;
        display: none;
    }
    #text {
        width: 60%;
        display: block;
    }
    #media {
        width: 100%;
    }
}