:root {
    --background: #222;
    --content-background: #555;
    --font-color: #fefefe;
    --glass-black: #222a;
    --blue: #00f;
    --pink: #e0e;
}
* {
    padding: 0;
    margin: 0;
}
#bruh {
    background: var(--glass-black);
    height: calc(50% - 100px);
    width: calc(50% - 100px);
    color: var(--font-color);
    padding: 50px;
}
#bruh:before {
    content: '';
    z-index: -1;
    position: absolute;
    filter: blur(20px);
    width: 100px;
    height: 100px;
    background: var(--pink);
    border-radius: 50%;
}